<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "sergio.jpg" %>
  </div>
  <div id="content">
    <h1>Hello, I'm Sergio Mironescu</h1>
    <p>Welcome to my personal blog. Here you can find entries/posts about:</p>
    <p><strong>HTML and CSS (sass, less), Javascript (jQuery, Angular, etc) and Ruby (Ruby on Rails)</strong>.</p>
    <p>After finishing Bachelor I've started digging into the world of Internet, fascinated on how the websites were made and how they work. This curiosity made me learn all related with web development, the languages needed and their syntax.</p>
    <p>I mainly focus on <strong>HTML/CSS, Javascript</strong>, but since a while my interest about <strong>Ruby</strong> started growing and now I'm teaching myself (thanks to other people and tutorials) about it and hope to become a full-stack developer.</p>
    <p>If you'd like to follow me along as I learn more about Ruby on Rails (or other than code) find me on Twitter <a href="http://twitter.com/smironescu" target="_blank">@smironescu</a> or on the web at <a href="http://smironescu.com" target="_blank">smironescu.com</a>.</p>
  </div>
</div>
