@import 'reset.css.scss';
@import 'utility.css.scss';
@import 'variables.css.scss';
@import 'mixins.css.scss';
@import 'functions.css.scss';
@import 'buttons.css.scss';
@import 'budgets.css.scss';
//@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import 'bootstrap.css.scss';
@import 'tags.css.scss';
@import 'highlight.css.scss';
@import 'jquery-ui.min.css.scss';
@import 'media.css.scss';

/* Style */
* {
  margin: 0;
  padding: 0;
}

html, body {
  //font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Varela Round',Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: $principal-link;
  @include letterpress(.1);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #33acb7;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
table th {
  background-color: #f8f8f8;
  font-family: "Interstate Bold"; font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f8f8f8;
}
table th, table td {
padding: 6px 13px;
border-right: 1px solid white(0.1);
}
table td pre {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

q {
  background-color: #f9f9f9;
  font-size: .8em;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    margin-right: 5px;
  }
  &:after {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }
}

strong {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: #444;
}

textarea#post_body {
  overflow: auto; // IE FIX
  min-height: 250px;
  resize: both !important;
}

code {
  padding: 0;
  padding: .1em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
code:before, code:after {
  content: '';
  letter-spacing: -0.2em;
}

.gutter {
  float: left;
  min-width: 50px !important;
  text-align: center;
  & .lineno {
    text-align: center;
  }
}

table td {
  width: 100%;
}

div#content {
  h1 {
    margin-top: -10px;
  }
}

.md-page {
  font-style: italic;
  color: grey;
  font-size: .7em;
}

.active-html, .active-js, .active-ruby, .active-void {
  color: #fff !important;
  width: 100%;
  z-index: 1;
  position: relative;
  &:after {
    content: '▲';
    color: #fff;
    position: absolute;
    font-size: 2em;
    height: 20px;
    bottom: 2px;
    left: 0;
    margin-left: 15%;
    -webkit-transform: scale(1.8,1.0);
    -ms-transform: scale(1.8,1.0);
    transform: scale(1.8,1.0);
  }
}

.active-sb {
  color: #fff !important;
  width: 100%;
  position: relative;
  &:after {
    content: '▲';
    color: #fff;
    position: absolute;
    font-size: 2em;
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
    -webkit-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
  }
}

  #header {
    height: 50px;
    padding: 0em 3em;
    margin-left: 200px;
    border-bottom: 1px solid #d6dce0;
    background: #333;
    color: #9eafba;
    nav {
      height: 50px;
      width: 100%;
      display: inline-block;
      position: relative;
      ul {
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: left;
        li {
          display: inline-block;
          margin-right: 15px;
          font-size: 1.4em;
          a {
          color: #9eafba;
          text-decoration: none;
          transition: all .4s ease;
          display: inline-block;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
    p {
      display: inline;
    }
    a {
      color: #9eafba;
      text-decoration: none;
    }
    .buttons {
      float: right;
      margin: .4em 0em;
      .button {
        font-size: 1em;
        margin-left: .5em;
      }
    }
  }

#sidebar {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #222;
  padding: 7em 0 0 0;
  border-right: 4px solid #222;
  box-shadow: inset -2px -10px 10px rgba(0,0,0,.2);
  #logo {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 3.2em;
    top: 1em;
    transition: all .9s ease;
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
      &:hover {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transition: all .9s ease;
    }
  }
  nav.sidebar-menu {
    margin-top: 20px;
  }
  ul {
    list-style: none;
    text-align: right;
    width: 200px;
    .category {
      font-weight: 700;
      font-size: 0.9em;
      text-transform: uppercase;
      color: #33acb7;
    }
    li {
      text-align: center;
      height: 35px;
      line-height: 35px;
      width: 200px;
        a {
          color: #9eafba;
          text-decoration: none;
          transition: all .4s ease;
          display: inline-block;
          height: 35px;
          width: 200px;
          &:hover {
            color: #fff;
          }
       }
    }
  }
  .sign_in {
    position: absolute;
    right: 3em;
    top: 80%;
    font-size: .8em;
    color: #9eafba;
  }
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  transition: all .2s ease;
  cursor: pointer;
  color: #ddd;
  &:focus {
    box-shadow: inset 1px 1px 10px 0px rgba(0,0,0, .9);
  }
  &:hover {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#main_content {
  margin-left: 200px;
  .wrapper {
    padding: 1em 3em;
  }
  .title-show {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
  }
  .date-show {
    color: grey;
    font-size: .8em;
    display: inline-block;
  }
  .category-show {
    font-size: .8em;
    float: right;
  }
  .comment-count {
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
  }
  .comment-block {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    @include border-radius(3px);
    margin-bottom: 15px;
    margin-left: 70px;
    & .comment-body {
      padding: 5px 10px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      border: 1px solid #eee;
      bottom: -16px;
      left: 5px;
    }
    &:after {
      content: '▲';
      color: #f7f7f7;
      text-shadow: -1px 1px 1px black(.2);
      position: absolute;
      top: -2px;
      left: -12px;
      font-size: 1.3em;
      -webkit-transform: scale(2.0,1.0);
      -ms-transform: scale(2.0,1.0);
      transform: scale(2.0,1.0);
      -webkit-transform: rotate(27deg);
      -ms-transform: rotate(27deg);
      transform: rotate(27deg);
    }
  }
  .comment-block-reply {
    border-left: 3px solid $bg-green;
    border-top: 1px solid #eee;
    background-color: #fff;
    font-size: .9em;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  .comment-content-reply {
    display: block;
    position: relative;
    z-index: 2;
  }
  .comment-logo {
    width: 48px;
    height: 48px;
    display: inline-block;
    float: left;
    border: 1px solid #ccc;
    @include border-radius(3px);
    & img {
      padding: 2px;
    }
  }
  .comment-wrap-info {
    padding-left: 10px;
    padding-right: 10px;
    color: #999;
    min-height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    & .author-comment {
      float: right;
      margin-top: 2px;
      padding: 0px 2px 2px 2px;
      height: 25px;
      line-height: 25px;
      font-size: .8em;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 3px;
    }
    & .comment-time {
        color: #999;
        font-size: .8em;
        display: inline-block;
    }
    & .comment-single {
        display: inline-block;
        text-align: left;
    & a {
        color: #999; 
        font-size: .8em;
    }
  }
  & .reply-comment {
      font-size: .8em;
      display: inline-block;
    & a {
      margin-top: 4px;
    }
  }
  & .edit-comment {
      font-size: .8em;
      display: inline-block;
  }
}
  .comment-content {
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }
  .comment-block-reply:hover > p.comment-reply {
    display: block;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    & a {
    width: 20px;
    height: 20px;
    padding: 5px;
    line-height: 10px;
    display: inline-block;
    border-radius: 50%;
    text-align: center; 
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    }
  }
  .comment-block:hover > p.comment-delete {
    display: block;
  }
  .comment-name-reply {
    font-weight: bolder;
    display: inline-block;
    float: left;
    max-width: 300px;
    margin-right: 5px;
    & a {
      color: #444;
    }
  }
  .comment-time-reply {
    display: inline-block;
    font-size: .8em;
    color: #999;
  }
  .edit-comment-reply {
    font-size: .8em;
    display: inline-block;
  }
  .author-comment-reply {
    float: right;
    margin-top: 2px;
    padding: 0px 2px 2px 2px;
    height: 25px;
    line-height: 25px;
    font-size: .8em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
  }
  .comment-body-reply {
    padding: 2px 0px 2px 25px;
    text-align: left;
    width: 100%;
    display: block;
    & p {
      text-align: left;
    }
  }
  .add-comment {
    margin-top: 20px;
    text-decoration: underline;
  }
  .label-name {
    margin-top: 5px;
  }
  .text-name, .text-body {
    margin-top: -10px;
    margin-bottom: 4px;
  }
  p.comment-reply {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 4px;
    z-index: 3;
    background-color: white;
    display: none;
  }
  p.comment-delete {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
    background-color: white;
    display: none;
    & a.button-delete {
      color: darkred;
      border: 1px solid darkred;
      padding: 2px;
      @include border-radius(3px);
      &:hover {
        text-decoration: none;
        color: red;
      }
    }
  }
  p.body {
    margin-top: 10px;
  }
  .form-control {
    color: darkred;
  }
  .post_wrapper {
    padding: 0px 10px 5px 10px;
    border-bottom: 1px solid #d6dce0;
    & a.btn-green {
      font-size: .8em;
      margin-top: 5px;
      display: inline-block;
      &:hover, &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
    .title {
      font-size: 1em;
      margin: 0;
      position: relative;
    a {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 1.5em;
      &:hover {
        color: #33acb7;
      }
    }
  }
  .date_and_author {
    color: #9eafba;
    margin: .5em 0 0 0;
  }
}
  #post_content {
    padding: 1em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {
      font-size: 1.1em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
      input[type="text"], textarea {
        width: 50%;
      }
    }
  }
  #page_wrapper {
    padding: 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    #content {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
      a {
        color: #33acb7;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 35px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }
  
  aside.vote-count {
    text-align: center;
    font-size: 2em;
    a {
      text-decoration: none;
    }
    .vpos {
      margin-right: 5px;
      color: darkgreen;
      &:hover {
        color: #33CC33;
      }
      & .vcount {
        font-size: 1.5em;
      }
    }
    .npos {
      color: darkred;
      &:hover {
        color: red;
      }
      & .ncount {
        font-size: 1.5em;
      }
    }
  }
  .copyright {
    color: #ddd; 
    text-align: center; 
    position: absolute; 
    bottom: 0px; 
    margin-left: 30px
  }
  .simple_captcha{padding: 5px !important;}
  .simple_captcha,
  .simple_captcha div{display: table;}
  .simple_captcha .simple_captcha_field,
  .simple_captcha .simple_captcha_image{
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
    float: left;
  }
  .simple_captcha .simple_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    width: 110px !important;
    height: 35px;
  }
  .simple_captcha .simple_captcha_field input{
    width: 150px !important;
    font-size: 16px;
    border: none;
    background-color: #efefef;
    margin-top: 0 !important;
  }
  .simple_captcha .simple_captcha_refresh_button {
    float: left;
    line-height: 35px;
    margin-left: 5px;
  }

.form-search {
  width: 97.5%;
  left: 25px;
  display: inline-block;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 1000;
  & input {
    width: 100%;
    padding: 0 0 0 4px;
    margin: 5px 0 0 0;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #000;
    border: 1px solid #000;
    font-size: .8em;
    float: left;
    display: inline-block;
    z-index: 1000;
  }
}

ul.search-nav-items {
  float: left;
  width: 35px;
  & li.search-btn {
    font-size: 1.2em !important;
  }
}
ul.nav-items {
  float: left;
}

div.social-share {
  width: 100%;
  text-align: left;
  & p {
    display: block;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0px !important;
    }
  }
}

.featured-post {
  background-color: #fffae0;
  & .title:after {
      content: 'featured';
      background-color: #f7f7ee;
      font-size: .8em;
      color: grey;
      float: right;
      display: block;
      width: 60px;
      margin-top: 5px;
      margin-left: 5px;
      padding: 0px 4px 0px 4px;
      border: 1px solid #999;
      border-radius: 4px;
    }
}

.tag-link-form {
  color: blue !important;
}
.tags-show-post {
  margin-top: 10px;
  margin-bottom: 10px;
    & a {
    background: #E0EAF1;
    padding: 3px;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    text-align: center;
    color: #5D6DB0;
    font-size: .8em;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background: #C5D2DB;
    }
  }
}

.btn-search {
  display: none;
}

.post-info {
  min-height: 20px;
  line-height: 20px;
  width: 100%;
  & .post-category {
    width: 170px !important;
  }
  & .post-tags {
    width: 300px !important;
  }
  & .post-date, .post-category, .post-author, .post-tags {
      margin-right: 10px;
      text-align: left;
      padding: 5px 1px 2px 1px;
      color: grey;
      font-size: .8em;
      display: inline-block;
      width: 170px;
      & span {
        margin-right: 5px;
      }
      & span a, a:hover {
        text-decoration: none;
      }
    }
}

.post-content-short {
    font-size: 1em;
    color: grey;
    text-decoration: none;
    overflow: hidden;
    //text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 20px;
  & .lineno {
    float: left;
    min-width: 50px;
    text-align: center;
    border-right: 1px solid white(.1);
    margin-right: 5px;
  }
}

h1.latest-activity {
  border-bottom: 1px solid black(.1);
}

.unapproved {
  border: 1px solid $bg-red;
  @include border-radius(3px);
  padding: 5px;
  -moz-animation-name: glow;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-duration: 500ms;
  -webkit-animation-name: glow;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 500ms;
}
@-moz-keyframes glow {
    0% { box-shadow: 0 0 5px #D11919; }
    100% { box-shadow: 0 0 15px #D11919; }
}
@-webkit-keyframes glow {
    0% { box-shadow: 0 0 5px #D11919; }
    100% { box-shadow: 0 0 15px #D11919; }
}

a.unapprove-link {
  color: $bg-red;
}
a.approve-link {
  color: $bg-green;
}

.activity-time {
  color: $bg-grey;
  font-size: .8em;
}