@import 'normalize.css.scss';
@import url(https://fonts.googleapis.com/css?family=Lato);
@import 'bootstrap.css.scss';
@import 'highlight.css.scss';
@import 'media.css.scss';

/* Style */
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #3e444d;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #33acb7;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
table th {
  background-color: #f8f8f8;
  font-family: "Interstate Bold"; font-weight: bold;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table tr:nth-child(even) {
  background-color: #f8f8f8;
}
table th, table td {
padding: 6px 13px;
border: 1px solid #ddd;
}

q {
  background-color: #f9f9f9;
  font-size: .8em;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    margin-right: 5px;
  }
  &:after {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }
}

textarea#post_body {
  overflow: auto; // IE FIX
  min-height: 250px;
  resize: both !important;
}

code {
  margin: .5rem 0 .2rem 0;
  font-size: .9em;
  background: #fbfaf8;
  padding: .5rem;
  word-break: normal;
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  & br {
    display: none;
  }
}

div#content {
  h1 {
    margin-top: -10px;
  }
}

.md-page {
  font-style: italic;
  color: grey;
  font-size: .7em;
}

.active-html {
  color: #33acb7 !important;
  border-bottom: 4px solid #33acb7 !important;
  height: 49px !important;
}

.active-js {
  color: #39d350 !important;
  border-bottom: 4px solid #39d350 !important;
  height: 49px !important;
}

.active-ruby {
  color: #e1121e !important;
  border-bottom: 4px solid #e1121e !important;
  height: 49px !important;
}

.active-void {
  color: grey !important;
  border-bottom: 4px solid grey !important;
  height: 49px !important;
}

.active-sb {
  color: #fff !important;
  border-right: 4px solid #fff;
}

  #header {
    height: 50px;
    padding: 0em 3em;
    margin-left: 200px;
    border-bottom: 1px solid #d6dce0;
    background: #333;
    color: #9eafba;
    nav {
      height: 50px;
      width: 100%;
      display: inline-block;
      position: relative;
      ul {
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: left;
        li {
          display: inline-block;
          margin-right: 15px;
          font-size: 1.4em;
          a {
          color: #9eafba;
          text-decoration: none;
          transition: all .4s ease;
          display: inline-block;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
    p {
      display: inline;
    }
    a {
      color: #9eafba;
      text-decoration: none;
    }
    .buttons {
      float: right;
      margin: .4em 0em;
      .button {
        font-size: 1em;
        margin-left: .5em;
      }
    }
  }

#sidebar {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #222;
  padding: 7em 0 0 0;
  box-shadow: inset -2px -10px 10px rgba(0,0,0,.2);
  #logo {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 3.2em;
    top: 1em;
    transition: all .9s ease;
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
      &:hover {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transition: all .9s ease;
    }
  }
  nav.sidebar-menu {
    margin-top: 20px;
  }
  ul {
    list-style: none;
    text-align: right;
    width: 200px;
    .category {
      font-weight: 700;
      font-size: 0.9em;
      text-transform: uppercase;
      color: #33acb7;
    }
    li {
      text-align: center;
      height: 35px;
      line-height: 35px;
      width: 200px;
        a {
          color: #9eafba;
          text-decoration: none;
          transition: all .4s ease;
          display: inline-block;
          height: 35px;
          width: 200px;
          &:hover {
            color: #fff;
          }
       }
    }
  }
  .sign_in {
    position: absolute;
    right: 3em;
    top: 80%;
    font-size: .8em;
    color: #9eafba;
  }
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  transition: all .2s ease;
  cursor: pointer;
  color: #ddd;
  &:focus {
    box-shadow: inset 1px 1px 10px 0px rgba(0,0,0, .9);
  }
  &:hover {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#main_content {
  margin-left: 200px;
  .wrapper {
    padding: 1em 3em;
  }
  .title-show {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
  }
  .date-show {
    color: grey;
    font-size: .7em;
  }
  .category-show {
    float: right;
    margin-top: -15px;
    color: grey;
    font-size: .7em;
  }
  .comment-count {
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
  }
  .comment-block {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  .comment-block-reply {
    border-left: 3px solid #ddd;
    background-color: #f1f1f1;
    font-size: .9em;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  .comment-content-reply {
    display: block;
    position: relative;
    z-index: 2;
  }
  .edit-comment {
    font-style: italic;
    font-size: .8em;
    display: inline-block;
    float: left;
    margin-top: 7px;
    margin-left: 7px;
  }
  .edit-comment-reply {
    font-style: italic;
    font-size: .8em;
    display: inline-block;
    float: left;
    margin-left: 7px;
  }
  .reply-comment {
    font-style: italic;
    font-size: .8em;
    display: inline-block;
    float: left;
    margin-top: 7px;
    & a {
      margin-top: 4px;
    }
  }
  .comment_content {
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }
  .comment-block-reply {
    & .comment_name:before {
    content: '▲';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    color: #ccc;
    font-size: .7em;
    transform: rotate(-30deg);
    margin-left: 45px;
    margin-top: 25px;
    }
  }
  .comment-block-reply:hover > p.comment-reply {
    display: block;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    & a {
    width: 20px;
    height: 20px;
    padding: 5px;
    line-height: 10px;
    display: inline-block;
    border-radius: 50%;
    text-align: center; 
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    }
  }
  .comment-block:hover > p.comment {
    display: block;
  }
  .comment_name {
    position: relative;
    font-weight: bolder;
    float: left;
    max-width: 300px;
  }
  .comment-single {
    display: inline-block; 
    float:left;
    margin-top: 4px;
    margin-right: 5px;
    & a {
      color: grey; 
      font-size: .8em;
      margin-left: 4px;
      font-style: italic;
    }
  }
  .comment_time {
    color: grey;
    font-size: .6em;
    float: right;
    margin-top: 5px;
  }
  .comment_name:after {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    margin-left: 40px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .comment_name:before {
    content: '▲';
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    display: inline-block;
    color: #ccc;
    font-size: .7em;
    transform: rotate(-30deg);
    margin-left: 48px;
    margin-top: 25px;
  }
  .comment_body {
    margin-left: 60px;
    text-align: left;
    margin-top: 0px;
    display: block;
    & p {
      text-align: left;
    }
  }
  .add-comment {
    margin-top: 20px;
    text-decoration: underline;
  }
  .label-name {
    margin-top: 5px;
  }
  .text-name, .text-body {
    margin-top: -10px;
    margin-bottom: 4px;
  }
  p.comment-reply {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 4px;
    z-index: 3;
    background-color: white;
    display: none;
  }
  p.comment {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 4px;
    z-index: 3;
    background-color: white;
    display: none;
    & a {
      color: darkred;
      border: 1px solid darkred;
      &:hover {
        text-decoration: none;
        color: red;
      }
    }
  }
  p.body {
    margin-top: 10px;
  }
  .form-control {
    color: darkred;
  }
  .post_wrapper {
    padding-bottom: .2em;
    border-bottom: 1px solid #d6dce0;
    .date {
      padding: 0;
      margin: 0;
      color: grey;
      font-size: .9em;
      font-style: italic;
    }
    .title {
      font-size: 1em;
      margin: 0;
    a {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 1.5em;
      &:hover {
        color: #33acb7;
      }
    }
  }
  .date_and_author {
    color: #9eafba;
    margin: .5em 0 0 0;
  }
}
  #post_content {
    padding: 1em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {
      font-size: 1.1em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
    #comments {
      h2 {
        margin: 3em 0 1em 0;
        border-bottom: 1px solid #d6dce0;
        padding-bottom: 0.5em;
      }
      h3 {
        margin-top: 2em;
      }
      .comment {
        border-bottom: 1px solid #d6dce0;
        padding: 1.5em 2em;
      }
      .comment_content {
        float: left;
        .comment_name {
          margin: 1em 0 0 0;
          font-size: 0.7em;
          text-transform: uppercase;
        }
        .comment_body {
          font-size: 1.2em;
          margin: 0.2em 0 0 0;
        }
        .comment_time {
           margin-top: 1.2em;
           font-size: .8em;
         }
       }
       .button {
         float: right;
       }
     }
      input[type="text"], textarea {
        width: 50%;
      }
    }
  }
  #page_wrapper {
    padding: 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    #content {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
      a {
        color: #33acb7;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 35px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }
  
  aside.vote-count {
    text-align: center;
    font-size: 2em;
    a {
      text-decoration: none;
    }
    .vpos {
      margin-right: 5px;
      color: darkgreen;
      &:hover {
        color: #33CC33;
      }
      & .vcount {
        font-size: 1.5em;
      }
    }
    .npos {
      color: darkred;
      &:hover {
        color: red;
      }
      & .ncount {
        font-size: 1.5em;
      }
    }
  }
  .copyright {
    color: #ddd; 
    text-align: center; 
    position: absolute; 
    bottom: 0px; 
    margin-left: 30px
  }
  .simple_captcha{padding: 5px !important;}
  .simple_captcha,
  .simple_captcha div{display: table;}
  .simple_captcha .simple_captcha_field,
  .simple_captcha .simple_captcha_image{
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
    float: left;
  }
  .simple_captcha .simple_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    width: 110px !important;
    height: 35px;
  }
  .simple_captcha .simple_captcha_field input{
    width: 150px !important;
    font-size: 16px;
    border: none;
    background-color: #efefef;
    margin-top: 0 !important;
  }
  .simple_captcha .simple_captcha_refresh_button {
    float: left;
    line-height: 35px;
    margin-left: 5px;
  }

.form-search {
  width: 97.5%;
  left: 25px;
  display: inline-block;
  height: 50px;
  position: absolute;
  top: 0;
  & input {
    width: 100%;
    padding: 0 0 0 4px;
    margin: 5px 0 0 0;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #000;
    border: 1px solid #000;
    font-size: .8em;
    float: left;
    display: inline-block;
  }
}

ul.search-nav-items {
  float: left;
  width: 35px;
  & li.search-btn {
    font-size: 1.2em !important;
  }
}
ul.nav-items {
  float: left;
}

div.social-share {
  width: 100%;
  text-align: left;
  & p {
    display: block;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0px !important;
    }
  }
}