<header>
  <h1 class="latest-activity">Latest Activities!! What's going on?</h1>
</header>

<% @activities.each do |activity| %>
  <article class="activity">
    <div>
    <%= render_activity activity %>
    </div>
  </article>
<% end %>
